body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;

  --bg-color: #2a4e3d;
  --text-color: #ffca7a;
  --highlight-color: #f56038;
  --button-color: #0a2f35;
  --button-hover-color: #184850;
  --extra-color: #f7a325;
}

/* 0D606D
327D60
EFCB5D
DE353A
F14527 

ef6f6c
465775
e7bb41
59c9a5
5b6c5d*/
